/* sway/style.css */
@import "mocha.css";
* {
  border: none;
  font-family: "Iosevka Nerd Font";
  font-size: 15px;
  min-height: 0;
  color: @text;
}

window#waybar {
  background: transparent;
  transition: none;
  color: black;
}

window#waybar.hidden {
  opacity: 0;
}

#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#language,
#battery,
#backlight-slider {
  color: #1e1e2e;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
  transition: none;
  min-width: 60px;
}

#cpu,
#idle_inhibitor {
  margin-left: 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#clock,
#battery,
#language {
  margin-right: 8px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#custom-archicon {
  font-size: 20px;
  color: @blue;
  background: #1e1e2e;
  padding: 0 18px;
}

#clock {
  background: @green;
}

#cpu {
  background: @blue;
}

#memory {
  background: @mauve;
}

#disk {
  background: @pink;
}

#temperature {
  background: @yellow;
}

#battery {
  background: @red;
}

#pulseaudio-slider {
  color: #1e1e2e;
  background: @green;
  min-width: 70px;
}

#backlight-slider {
  color: #1e1e2e;
  background: @teal;
  min-width: 70px;
}

#network {
  background: @mauve;
  padding-right: 18px;
}
